<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="igave">
                        <h4 class="title">Campaigns</h4>
                        <p class="category">Historical list of campaigns.</p>
                        <button class="btn btn-white btn-round btn-just-icon"><a [routerLink]="['/campaigns/create']"><i class="fas fa-plus text-primary"></i></a></button>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="primary-text">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Ready</th>
                                    <th>Active</th>
                                    <th>Veto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let campaign of campaigns">
                                    <td [routerLink]="['/campaigns/view', campaign.id]">{{campaign.id}}</td>
                                    <td [routerLink]="['/campaigns/view', campaign.id]">{{campaign.name}}</td>
                                    <td [routerLink]="['/campaigns/view', campaign.id]">{{campaign.ready}}</td>
                                    <td [routerLink]="['/campaigns/view', campaign.id]">{{campaign.active}}</td>
                                    <td [routerLink]="['/campaigns/view', campaign.id]">{{campaign.veto}}</td>
                                    <td><button (click)="activateCampaign(campaign.id)">Activate</button></td>
                                    <td><button (click)="vetoCampaign(campaign.id)">Veto</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
