<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://igave.io" target="_blank">
                        Home
                    </a>
                </li>
                <li>
                    <a href="http://igave.io/whitepaper.pdf" target="_blank">
                        Whitepaper
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://www.igave.io">I Gave</a>
        </p>
    </div>
</footer>
