<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="wrapper">
                    <div class="border">
                        <h1>Certificate of Donation</h1>
                        <p class="small">This certificate is for:</p>
                        <h2>{{certificate.tokenName}}</h2>
                        <h4>Given during the {{certificate.campaignName}} campaign</h4>
                        <p>Donated by:</p>
                        <h4>{{certificate.purchaser}}</h4>
                        <p>Valued at the time</p>
                        <h4>{{certificate.value}} Eth</h4>
                        <p class="content">
                            This can be customized by the organization.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non mattis tellus. Proin pharetra sem mi, in commodo est consectetur
                        vel. Suspendisse justo dui, lacinia vel nibh ut, suscipit elementum ante. Sed at ante ac velit venenatis
                        aliquam. Morbi non felis tempus, accumsan tellus sit amet, accumsan justo. Integer porttitor nisi
                        odio, et sagittis lectus egestas et. Proin et neque in ante auctor congue. Etiam varius neque quis
                        purus dapibus luctus. Aenean porta faucibus nisi id lacinia. Maecenas a mauris vel lectus sagittis
                        elementum. Sed dictum eu nisl a aliquet. In id tortor scelerisque, auctor justo quis, faucibus libero.
                        Cras ac enim urna.</p>
                        <p class="issue"> 1 of 10</p>
                        <p>{{certificate.taxId}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
