<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-5 col-lg-3" *ngFor="let token of tokens">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#">
            <img class="img" src="/assets/img/IGAVE-Ethereum-Blue.png" />
          </a>
          </div>

          <div class="content">
            <h6 class="category text-gray"></h6>
            <h4 class="card-title">I Gave</h4>
            <h6 class="card-title">{{token.campaignName}}</h6>
            <h6 class="card-title">{{token.name}}</h6>
            <h4 class="card-title">{{token.supply}} Total</h4>
            <h4 class="card-title">{{token.remaining}} Remain</h4>
            <h4 class="card-title">{{token.value}} Ether</h4>
            <p class="card-content">
              <button type="submit" class="btn btn-primary" (click)="buyToken(token.campaign, token.index, token.value)">Make this Donation</button>
              <button type="submit" class="btn btn-primary" (click)="getButton(token.campaign, token.index)">Get Donation Button</button>
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>